html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	background-image: url(/images/paper.png);
}

header > nav > .nav-wrapper > .brand-logo {	
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-family: 'Cedarville Cursive', cursive;
}

#list {
	overflow: auto;
	font-size: 0.8em;
	padding-left: 50px;
	font-family: 'Patrick Hand SC', cursive;
}

.title {
	font-size: 1em;
	font-family: 'Cedarville Cursive', cursive;
}

#form {
	padding: 5px 15px 5px 15px;
}

/*#add {
	margin-top: 50px;
}*/

/*font-family: 'Walter Turncoat', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Indie Flower', cursive;*/