doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo") BuJo
					a.button-collapse(href="#" data-activates="mobile")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						
						
					ul.side-nav#mobile.white
						li
							a(href="/profile") PROFILE
								i.material-icons person
		main
			.container
				h4.title Add Appointment
				form(action="/add/appt" method="POST" autocomplete="off")
					.row
						.input-field
							input(type="text" name="body" required)
							label(for="body") what appointment do you have?
					.row
						button.btn-flat.red.darken-4.white-text(type="submit" name="addappt") add

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")