doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body
		
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo") BuJo
					a.button-collapse(href="#" data-activates="mobile")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a(href="/bujo/:username")
								i.material-icons list
						li
							a(href="#")
								i.material-icons settings
						li
							a(href="/profile/:username") #{user.username}
								i.material-icons.left person
						
					ul.side-nav#mobile.white
						li
							a(href="/profile") PROFILE
								i.material-icons person

		main
			.row
				.col.s10.offset-s1
					.row
						.col.s12#list 
							p list with each loop
							p list
							p list
							p list
							p list
							p list
							p list
							p list
							p list
					.row
						.fixed-action-btn.toolbar
							a.btn-floating.btn-large.red.darken-4
								i.large.material-icons mode_edit
							ul
								li
									a(href="/bujo/new/task")
										i.material-icons check_box_outline_blank
								li
									a(href="/bujo/new/appt")
										i.material-icons change_history
								li
									a(href="/bujo/new/event")
										i.material-icons radio_button_unchecked
								li
									a(href="/bujo/new/note")
										i.material-icons remove

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")