doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo") BuJo
					a.button-collapse(href="#" data-activates="mobile")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						
						
					ul.side-nav#mobile.white
						li
							a(href="/profile") PROFILE
								i.material-icons person
		main
			.container
				h4 Add event
				form(action="/register" method="POST" autocomplete="off")
					.row
						.input-field
							input(type="text" name="firstname" required)
							label(for="firstname") firstname
					.row
						.input-field
							input(type="text" name="lastname" required)
							label(for="lastname") lastname
					.row
						.input-field
							input(type="email" name="email" required)
							label(for="email") email
					.row
						.input-field
							input(type="text" name="username" required)
							label(for="username") username
					.row
						.input-field
							input(type="password" name="password" required)
							label(for="password") password
					button.btn-flat(type="submit" name="register") add