doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		body
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo") BuJo
					a.button-collapse(href="#" data-activates="mobile")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a.btn-flat(href="/register") register
						li
							button.btn-flat.modal-trigger(href="#popup" data-target="#popup") login
			#popup.modal
				.modal-content
					h4.center-align login
					form(action="/login" method="POST" autocomplete="off")
						.row
							.input-field
								input(type="text" name="username" required)
								label(for="username") username
						.row
							.input-field
								input(type="password" name="password" required)
								label(for="password") password
						button.btn-flat.modal-action(type="submit" name="login")
					p.center-align Don't have an account yet?
					a.center.btn-flat(href="/register") register
						
					ul.side-nav#mobile.white
						li
							a.btn-flat(href="/login") LOGIN
							a.btn-flat(href="/register") REGISTER

		main(style="height: 700px")
			p=errormessage
		//- ul#slide-out.side-nav.fixed
		//- 	li
		//- 		a(href="#!") First Sidebar Link
		//- 	li
		//- 		a(href="#!") Second Sidebar Link  
		//- a.button-collapse(href="#" data-activates="slide-out")
		//- 	i.material-icons menu
		//- .container
		footer.page-footer
			.footer-copyright.teal.darken-3
				.container
					p © 2017 Copyright All rights reserved Bujo App
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")