doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat|Montserrat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		body
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo") BuJo
					ul.right
						li
							a.tooltipped(href="/help" data-position="bottom" data-delay="50" data-tooltip="HELP")
								i.material-icons help
		main
			.row.top
				.card.col.s10.l6.offset-s1.offset-l3
					.card-content
						p.center-align Login or register below to start using your Bullet Journal!
						if errormessage
							p.center-align.red-text #{errormessage}
					.card-tabs
						ul.tabs.tabs-fixed-width
							li.tab
								a.red-text.text-darken-4(href='#login') LOGIN
							li.tab
								a.red-text.text-darken-4(href='#register') REGISTER
					.card-content
							#login
								form(action="/login" method="POST" autocomplete="off")
									.row
										.input-field
											input(type="text" name="username" required)
											label(for="username") username
									.row
										.input-field
											input(type="password" name="password" required)
											label(for="password") password
									.row.center
										button.btn-flat.red.darken-4.white-text(type="submit" name="login") LOGIN
							#register
								form(action="/register" method="POST" autocomplete="off")
									.row
										.input-field
											input(type="text" name="firstname" required)
											label(for="firstname") firstname
									.row
										.input-field
											input(type="text" name="lastname" required)
											label(for="lastname") lastname
									.row
										.input-field
											input(type="email" name="email" required)
											label(for="email") email
									.row
										.input-field
											input(type="text" name="username" required)
											label(for="username") username
									.row
										.input-field
											input(type="password" name="password" required)
											label(for="password") password
									.row
										.input-field
											input(type="password" name="confirmpassword" required)
											label(for="confirmpassword") confirm password
									.row.center
										button.btn-flat.red.darken-4.white-text(type="submit" name="register") REGISTER

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")