doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			.navbar-fixed.transparant
				nav
					.nav-wrapper
						a.brand-logo.center(href="/") Bujo
		.container
			.row
				h4 Log in
				form(action='/login', method='POST', autocomplete='off')
					.row
						.input-field
							i.material-icons.prefix mail_outline
							input#icon_prefix(type="email" name="email" required)
							label(for="icon_prefix") Email
					br
					.row
						.input-field
							i.material-icons.prefix lock_outline
							input#icon_prefix(type="password" name="password" required)
							label(for="icon_prefix") Password
					button.modal-action.btn(type="submit" name="submit") LOGIN
		//- ul#slide-out.side-nav.fixed
		//- 	li
		//- 		a(href="#!") First Sidebar Link
		//- 	li
		//- 		a(href="#!") Second Sidebar Link  
		//- a.button-collapse(href="#" data-activates="slide-out")
		//- 	i.material-icons menu
		//- .container
		footer.page-footer
			.footer-copyright.teal.darken-3
				.container
					p © 2017 Copyright All rights reserved Bujo App
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")